extends layout

block content
  h1 Cervejaria:
  a(href='#/empresas-cervejas') Lista de Empresas de Cervejas
  br
  a(href='#/empresas-cervejas-cadastro') Empresas de Cervejas
  hr
  a(href='#/categorias-cervejas') Lista de Categorias de Cervejas
  br
  a(href='#/categorias-cervejas-cadastro') Categorias de Cervejas
  hr
  a(href='#/cervejas') Lista de Cervejas
  br
  a(href='#/cervejas-cadastro') Cadastro de Cerveja
  hr
  div(ui-view)