<div class="row">
  <div class="col-sm-9">
    <h2>Lista de Cervejas</h2>
  </div>
  <div class="col-sm-3 ">
    <a style="margin-top: 20px; margin-bottom: 20px" class="btn btn-primary form-control" ui-sref="cadastroCerveja">Nova</a>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <th class="col-sm-3">Nome</th>
    <th class="col-sm-2">Preço</th>
    <th class="col-sm-3">Empresa</th>
    <th class="col-sm-3">Categoria</th>
    <th class="col-sm-1">&nbsp;</th>
  </thead>
  <tbody>
  <tr ng-repeat="cerveja in ctrl.cervejas track by $index">
    <td>{{cerveja.nome}}</td>
    <td>{{cerveja.preco}}</td>
    <td>{{cerveja.empresa.descricao}}</td>
    <td>{{cerveja.categoria.descricao}}</td>
    <td>
      <button class="btn btn-default btn-sm" ui-sref="edicaoCerveja({id: cerveja.id})">
        <i class="glyphicon glyphicon-edit"></i>
      </button>
      <button class="btn btn-default btn-sm" ng-click="ctrl.remover(cerveja.id)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>