<div class="row">
  <div class="col-sm-9">
    <h2>Lista de Empresas de Cervejas</h2>
  </div>
  <div class="col-sm-3 ">
    <a style="margin-top: 20px; margin-bottom: 20px" class="btn btn-primary form-control" ui-sref="cadastroEmpresaCerveja">Nova</a>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <th class="col-sm-4">Empresa</th>
  <th class="col-sm-6">Observacao</th>
  </thead>
  <tbody>
  <tr ng-repeat="empresa in ctrl.empresasCervejas track by $index">
    <td>{{empresa.descricao}}</td>
    <td>{{empresa.observacao}}</td>
    <td>
      <button class="btn btn-default btn-sm" ui-sref="edicaoEmpresaCerveja({id: empresa.id})">
        <i class="glyphicon glyphicon-edit"></i>
      </button>
      <button class="btn btn-default btn-sm" ng-click="ctrl.remover(empresa.id)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>